:root {
  /* light mode */
  --text-color: #2c2e3a;
  --background-color: #f6f6f6;
  --document-color: #fff;
  --disabled-state: rgba(0, 0, 0, 0.15);
  --border: rgba(0, 0, 0, 0.15);
  --box-shadow: rgba(0, 0, 0, 0.2);
  --small-text: rgba(0, 0, 0, 0.6);
  --toggle-untoggled-bg: rgb(209 213 219);

  /* annotation modes */
  --analyse: #9d87d9;
  --compare: #e08072;
  --clarify: #7cc287;
  --analyse-annotation: rgba(157, 135, 217, 0.15);
  --compare-annotation: rgba(224, 128, 114, 0.15);
  --clarify-annotation: rgba(124, 194, 135, 0.15);
}

[data-theme="dark"] {
  --background-color: #25262a;
  --document-color: #2b2c34;
  --text-color: #fff;
  --disabled-state: rgba(255, 255, 255, 0.15);
  --box-shadow: rgba(248, 247, 247, 0.2);
  --small-text: rgba(255, 255, 255, 0.6);
  --border-upload: rgba(255, 255, 255, 0.4);
  --border: rgba(255, 255, 255, 0.15);

  /* dark mode annotations */
  --analyse: #8368cc;
  --compare: #ce6969;
  --clarify: #4c9958;
  --analyse-annotation: rgba(131, 104, 204, 0.15);
  --compare-annotation: rgba(206, 105, 105, 0.15);
  --clarify-annotation: rgba(76, 153, 88, 0.15);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
