@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&display=swap");
@import url("https://use.typekit.net/uvs1cro.css");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary-dark: #2c2e3a;
  --primary-light: #f6f6f6;
  --secondary-dark: #b2b2b2;
  --analyse: #9d87d9;
  --compare: #e08072;
  --clarify: #7cc287;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: var(--primary-light);
}

p {
  color: var(--primary-dark);
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
}

#extracted-text-box {
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background: #fff;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.2);
  width: 595px;
  height: 845px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  overflow: hidden;
}

#extracted-text {
  width: 100%;
  color: var(--primary-dark);
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  height: 100%;
  overflow-y: auto;
  word-wrap: break-word;
}

#extracted-text-box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 595px;
  height: 100%;
}

#header-container {
  display: flex;
  height: 47px;
  align-items: left;
  flex-shrink: 0;
}

#header {
  padding: 41px 48px 42px 48px;
}

#header-text {
  font-family: "Abhaya Libre ExtraBold", "serif";
  font-size: 42.235px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  color: var(--primary-dark);
}

.card {
  padding: 20px 14px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background: #fff;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.1);
  height: 100%;
  margin-right: 40px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
