@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&display=swap");
@import url("https://use.typekit.net/uvs1cro.css");

:root {
  /* light mode */
  --text-color: #2c2e3a;
  --background-color: #f6f6f6;
  --document-color: #fff;
  --disabled-state: rgba(44, 46, 58, 0.15);
  --border: rgba(0, 0, 0, 0.15);
  --box-shadow: rgba(0, 0, 0, 0.2);
  --small-text: rgba(0, 0, 0, 0.6);
  /* annotation modes */
  --analyse: #9d87d9;
  --compare: #e08072;
  --clarify: #7cc287;
  --analyse-annotation: rgba(157, 135, 217, 0.15);
  --compare-annotation: rgba(224, 128, 114, 0.15);
  --clarify-annotation: rgba(124, 194, 135, 0.15);
}

[data-theme="dark"] {
  --background-color: #2b2c34;
  --document-color: #25262a;
  --text-color: #fff;
  --disabled-state: rgba(255, 255, 255, 0.15);
  --box-shadow: rgba(248, 247, 247, 0.2);
  --small-text: rgba(255, 255, 255, 0.6);
  /* dark mode annotations */
  --analyse: #8368cc;
  --compare: #ce6969;
  --clarify: #4c9958;
  --analyse-annotation: rgba(131, 104, 204, 0.15);
  --compare-annotation: rgba(206, 105, 105, 0.15);
  --clarify-annotation: rgba(76, 153, 88, 0.15);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: var(--background-color);
}

p {
  color: var(--text-color);
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
}

h3 {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--text-color);
}

#count {
  color: #fff;
}

.small-text {
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  color: var(--small-text);
}

#extracted-text-box {
  border-radius: 4px;
  border: 1px solid var(--border);
  background: var(--document-color);
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.2);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  overflow: hidden;
  height: 100%;
  overflow-y: scroll;
}

#extracted-text {
  width: 100%;
  color: var(--text-color);
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  overflow-y: auto;
  word-wrap: break-word;
}

#extracted-text-box::-webkit-scrollbar,
#suggestions-container::-webkit-scrollbar {
  display: none;
}

#header-container {
  display: flex;
  height: 47px;
  align-items: left;
  flex-shrink: 0;
}

#header {
  padding: 41px 48px 42px 48px;
}

#header-text {
  font-family: "Abhaya Libre ExtraBold", "serif";
  font-size: 42.235px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  color: var(--text-color);
}

.card {
  padding: 20px 14px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background: var(--document-color);
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.1);
  height: 100%;
  margin-right: 40px;
  width: 100%;
}

#suggestion-container {
  display: flex;
  padding: 20px 25px;
  align-self: stretch;
  gap: 10px;
  align-items: flex-start;
  border-radius: 4px;
  background: var(--document-color);
  box-shadow: 2px 2px 6px 0px rgba(224, 128, 114, 0.15); /* change based on mode */
  flex-direction: column;
  margin-top: 14px; /* should change based on location of annotations */
  margin-bottom: 14px;
  /* Ensure the container takes the full width */
}

#suggestion-text {
  flex: 1 0 0;
}

#chat-container {
  margin-top: 8px;
  flex: 1 1 auto;
  width: 100%;
}

#input-container {
  margin-bottom: 8px;
  max-height: 200px;
  overflow-y: auto;
}

#message-input {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid hsl(0, 0%, 80%);
  margin-bottom: 16px;
  box-sizing: border-box;
}

#message-buttons-container {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

#cancel-message {
  border: none;
  color: #555;
  cursor: pointer;
}

#submit-message {
  background-color: #333;
  border: none;
  color: #fff;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

#suggestion-options-container {
  display: flex;
  padding: 8px 10px;
  justify-content: flex-end;
  border-radius: 4px;
  align-items: center;
  gap: 18.653px;
  align-self: stretch;
  width: 100%;
  margin-top: 12px;
  position: relative;
}

.suggestion-options-tooltip {
  display: none;
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 1000;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: -5px;
}

.suggestion-options-tooltip-visible {
  display: inline-flex;
}

.suggestion-options-tooltip-arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #333;
  position: absolute;
  top: 100%;
}

#suggestions-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  overflow-y: scroll;
  height: 100%;
}

#upload-box {
  display: flex;
  padding: 248px 0;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 3px dashed var(--border);
  background: var(--document-color);
  height: 100%;
  width: 100%;
}

#upload-content {
  display: flex;
  width: 414px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 44px;
}

#how-it-works {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 56px;
  justify-content: center;
  width: 50%;
  height: 100%;
  align-self: center;
}

#chatbot-button {
  display: flex;
  width: 60px;
  height: 60px;
  padding: 18px 17.286px 18px 17px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 34px;
  background: var(--Light-Mode-Black, #2c2e3a);
}
/* TODO */
#chatbot-button-container {
  position: absolute;
}

#right-panel {
  max-width: 25%;
  flex: 1;
  /* height: 100vh; Adjust based on your preference */
}

#center-panel {
  min-width: 50%;
}

#left-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 25%;
  flex: 1;
}

#settings-panel {
  margin-top: 24px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
