@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&display=swap");
@import url("https://use.typekit.net/uvs1cro.css");

:root {
  /* light mode */
  --text-color: #2c2e3a;
  --background-color: #f6f6f6;
  --document-color: #fff;
  --disabled-state: rgba(44, 46, 58, 0.15);
  /* annotation modes */
  --analyse: #9d87d9;
  --compare: #e08072;
  --clarify: #7cc287;
  --analyse-annotation: rgba(157, 135, 217, 0.15);
  --compare-annotation: rgba(224, 128, 114, 0.15);
  --clarify-annotation: rgba(124, 194, 135, 0.15);
}

[data-theme='dark'] {
  --background-color: #2B2C34;
  --document-color: #25262A;
  --text-color: #fff;
  --disabled-state: rgba(255, 255, 255, 0.15);
  /* dark mode annotations */
  --analyse: #8368CC;
  --compare: #CE6969;
  --clarify: #4C9958;
  --analyse-annotation: rgba(131, 104, 204, 0.15);
  --compare-annotation: rgba(206, 105, 105, 0.15);
  --clarify-annotation: rgba(76, 153, 88, 0.15);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: var(--background-color);
}

p {
  color: var(--text-color);
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
}

h3 {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--text-color)
}

.small-text {
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}


#extracted-text-box {
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background: var(--document-color);
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.2);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  overflow: hidden;
  height: 100%;
}

#extracted-text {
  width: 100%;
  color: var(--text-color);
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  overflow-y: auto;
  word-wrap: break-word;
}

#header-container {
  display: flex;
  height: 47px;
  align-items: left;
  flex-shrink: 0;
}

#header {
  padding: 41px 48px 42px 48px;
}

#header-text {
  font-family: "Abhaya Libre ExtraBold", "serif";
  font-size: 42.235px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  color: var(--text-color);
}

.card {
  padding: 20px 14px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background: var(--document-color);
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.1);
  height: 100%;
  margin-right: 40px;
  width: 100%;
}

#suggestion-container {
  display: flex;
  padding: 20px 25px;
  align-self: stretch;
  gap: 10px;
  align-items: flex-start;
  border-radius: 4px;
  background: var(--document-color);
  box-shadow: 2px 2px 6px 0px rgba(224, 128, 114, 0.15);
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  /* Ensure the container takes the full width */
  transition: transform 0.2s, box-shadow 0.2s; /* Smooth animation */
  cursor: pointer; /* Indicates interactive element */
  position: relative; /* To position the icons */
}

#suggestion-container:hover {
  transform: scale(1.05); /* Slightly enlarge on hover */
}

.small-text {
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  color: var(--text-color);
}

#suggestion-text {
  /* flex: 1 0 0; */
  margin: 0;
  font-size: 14px;
  color: var(--text-color);
}

.space-y-3.5 > * + * {
  margin-top: 20px; /* Increase spacing between suggestion boxes */
}

.icons-container {
  display: flex;
  justify-content: space-between;
  gap: 18.65px; /* Specific gap between icons */
  margin-top: 10px;
  bottom: 20px;
  right: 20px;
  justify-content: flex-end;
  opacity: 0; /* Initially hide the icons */
  transition: opacity 0.2s; /* Smooth transition for showing/hiding icons */
}

.icons-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

#suggestion-container:hover .icons-container {
  opacity: 1; /* Show the icons on hover */
}

.icon-wrapper {
  position: relative; /* Needed for tooltip positioning */
}

.icons-container img {
  width: 15px; /* Adjust size as needed */
  height: 15px; /* Adjust size as needed */
  cursor: pointer; /* Indicates interactive element */
}

.icons-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

#suggestion-container:hover .icons-container {
  opacity: 1; /* Show the icons on hover */
}


.tooltip {
  visibility: hidden;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 2px 5px; /* Adjust padding to fit text in one line */
  font-size: 12px; /* Make the text smaller */
  white-space: nowrap; /* Ensure the tooltip stays in one line */
  position: absolute;
  z-index: 1;
  top: 20px; /* Position below the icon */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip::after {
  content: '';
  position: absolute;
  top: -7px; /* Arrow pointing upwards */
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}

.icon-wrapper:hover .tooltip,
.icon-wrapper:focus .tooltip,
.icon-wrapper:active .tooltip {
  visibility: visible;
  opacity: 1;
}

.dropdown-menu {
  position: absolute;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 10px;
  margin-top: 10px;
  z-index: 9999; /* Ensure this is higher than other elements */
}

.dropdown-item {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}

.dropdown-icon {
  width: 16px; /* Adjust size as needed */
  height: 16px; /* Adjust size as needed */
  margin-right: 8px; /* Space between icon and text */
}

.icon-wrapper {
  position: relative; /* Needed for dropdown positioning */
  z-index: 1; /* Ensure the icon is above other elements */
}

.icon-wrapper:focus .dropdown-menu {
  display: block;
}

.tooltip {
  visibility: hidden;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 2px 5px; /* Adjust padding to fit text in one line */
  font-size: 12px; /* Make the text smaller */
  white-space: nowrap; /* Ensure the tooltip stays in one line */
  position: absolute;
  z-index: 1000; /* Ensure tooltip appears above other elements */
  top: 30px; /* Position below the icon */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip::after {
  content: '';
  position: absolute;
  top: -5px; /* Arrow pointing upwards */
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}

.icon-wrapper:hover .tooltip,
.icon-wrapper:focus .tooltip,
.icon-wrapper:active .tooltip {
  visibility: visible;
  opacity: 1;
}

.tooltip.visible {
  visibility: visible;
  opacity: 1;
}



#right-panel {
  min-width: 25%;
}

#left-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 48px;
  min-width: 25%;
}

#settings-panel {
  margin-top: 24px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}